{
	"master-name":"ElasticInstance",
	"master-image":{"id":"234234234",
					"size":"512mb",
					"region":"sfo1",
					"ssh_keys":["234234"]},
	"slave-image":{"id":"234234234",
					"size":"512mb",
					"region":"sfo1",
					"ssh_keys":["234234"]},
	"api-key":"234234234234",
	"slaves-used":2,
	"google-drive": {
	  "use":true,
	  "secret": "client_secrets.json",
	  "parent-id": "0BxAo-cNBQJe_RUg1bWJOSVFMcUU"
	},
	"simulations":[{
		"name":"base",
		"simulation":"simulation-base.tar.gz",
		"maven-params":
		{
				"--config":"config/server.properties",
			    "--boot-data":"bootstrap-data"
		},
		"file-mapping":[
			{
				"file":"FactoredCustomers.xml",
				"location":"config/"
			},
			{
				"file":"OfficeComplexType1.properties",
				"location":"config/"
			},
			{
				"file":"server.properties",
				"location":"config/"
			},
			{
				"file":"bootstrap-data",
				"location":""
			}
		]
	},
	{
		"name":"env-1",
		"simulation":"simulation-env-1.tar.gz",
		"maven-params":[
			{
				"--config":"config/server.properties"
			}
		],
		"file-mapping":[
			{
				"file":"FactoredCustomers.xml",
				"location":"config/"
			},
			{
				"file":"OfficeComplexType1.properties",
				"location":"config/"
			},
			{
				"file":"server.properties",
				"location":"config/"
			},
			{
				"file":"bootstrap-data",
				"location":""
			}
		]
	}]
}