{
	"master-name":"ElasticInstance",
	"master-image":{"id":"234234234",
					"size":"512mb",
					"region":"sfo1",
					"ssh_keys":["234234"]},
	"slave-image":{"id":"234234234",
					"size":"512mb",
					"region":"sfo1",
					"ssh_keys":["234234"]},
	"api-key":"234234234234",
	"slaves-used":2,
	"google-drive": {
	  "use":true,
	  "secret": "client_secrets.json",
	  "parent-id": "0BxAo-cNBQJe_RUg1bWJOSVFMcUU"
	},
	"simulations":[{
		"name":"simulation-name",
		"simulation":"config-sim-01",
	},{
		"name":"simulation-name",
		"simulation":"config-sim-02",
	}]
}