{
	"master-name":"ElasticInstance",
	"master-image":{"id":"234234234",
					"size":"512mb",
					"region":"sfo1",
					"ssh_keys":["234234"]},
	"slave-image":{"id":"234234234",
					"size":"512mb",
					"region":"sfo1",
					"ssh_keys":["234234"]},
	"api-key":"234234234234",
	"slaves-used":2,
	"simulations":[{
		"name":"simulation-name",
		"bootstrap":"bootstrap-01-file.xml",
		"state-file":"state-01-file.xml",
		"simulation":"config-sim-01",
	},{
		"name":"simulation-name",
		"bootstrap":"bootstrap-02-file.xml",
		"state-file":"state-02-file.xml",
		"simulation":"config-sim-02",
	}]
}